h1 {
  color: green;
  font-size: 48px;
}
table {
  width: 90%;
  margin:auto;
}
th,td {
  height:40px;
}
th {
  border-bottom:1px solid black;
  color:#228B22;
}
tr:nth-child(even) {background-color: #32CD32}
h2 {
  text-align:center;
}
div {
  padding-top: 20px;
}
